<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>SJEC-CSE</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <form class="" action="index.html" method="post">
          <!-- {% csrf_token %} -->
          <select class="form-control col-lg-3" id="exampleFormControlSelect1">
            <option>Staff_Id</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <select class="form-control col-lg-3" id="exampleFormControlSelect1">
            <option>Sub_Id</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <select class="form-control col-lg-3" id="exampleFormControlSelect1">
            <option>Day</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <select class="form-control col-lg-3" id="exampleFormControlSelect1">
            <option>Period</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </form>
      </div>
    </div>
  </body>
</html>
